<%define "addlink"%>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>府谷交警内网后台管理程序</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="府谷交警 内网">
    <link rel="stylesheet" type="text/css" href="/css/houtai.css">
    <link rel="shortcut icon" href="/images/1.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/js/webuploader/webuploader.css">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="imagetoolbar" content="false">
    <script type="text/javascript" src="/js/ku/DD_belatedPNG.js"></script>
    <script type="text/javascript" src="/js/ku/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/ku/jquery.SuperSlide.2.1.1.js"></script>
   
    <!--[if IE 6]>
<script src="DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.phoneicon');
</script>
<![endif]-->

    <body ms-controller="fugujiaojing" id="homefirst">
        <div id="wrapper">
                        <%template "header" .%>

            
            <div id="maincontent">
            

                <div class="idea divclass" id="d1">
                    <%if .Update%>
                    <h2>修改链接</h2>
                    <%else%>
                    <h2>增加链接</h2>
                    <%end%>
                </div>
                <form action="<%if .Update%>/admin/modifyLink<%else%>/admin/addLink<%end%>" method="post" name="link"  onsubmit="return CheckPost();">

                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        链接名<span style="color: red">*</span>
                        <input  style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 15em;" type="text" name="linkName" value="<%.Name%>"> 
                    </div> 
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        类&emsp;别<span style="color: red">*</span>
                                <%if .Update%>
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全国公安部门导航" <%if eq .Category "1"%>checked="checked"<%end%> >全国公安部门导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全国交警部门导航" <%if eq .Category "2"%>checked="checked"<%end%> >全国交警部门导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="车管应用系统导航" <%if eq .Category "3"%>checked="checked"<%end%> >车管应用系统导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全省交警支队导航" <%if eq .Category "3"%>checked="checked"<%end%> >全省交警支队导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全市交警大队导航" <%if eq .Category "3"%>checked="checked"<%end%> >全市交警大队导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全县公安部门导航" <%if eq .Category "3"%>checked="checked"<%end%> >全县公安部门导航
                                <%else%>
                                 <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全国公安部门导航" checked="checked">全国公安部门导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全国交警部门导航" >全国交警部门导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="车管应用系统导航"  >车管应用系统导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全省交警支队导航"  >全省交警支队导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全市交警大队导航" >全市交警大队导航
                                <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" value="全县公安部门导航"  >全县公安部门导航
                                <%end%>

                    </div> 
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        链&emsp;接<span style="color: red">*</span>
                        <input  style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 15em;" type="text" name="url" value="<%.Url%>"> 
                    </div> 
                    <%if .Update%>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        排&emsp;序<span style="color: white">*</span>
                        <input  style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 15em;" type="text" name="sort" value=""> 
                    </div>
                    <input type="hidden" name="id" value="<%.Id%>">
                    <%end%>
                   
                    <input style="width:80px;height: 40px;margin-top: 2em;margin-left: 57px;background-color: #fc8114;color: white;margin-bottom: 20px;cursor: pointer;" type="submit" name="提交" value="提交">
                    &emsp;&emsp;
                    <input style="width:80px;height: 40px;margin-top: 2em;margin-left: 57px;background-color: #CCC;color: white;margin-bottom: 20px;cursor: pointer;text-align: center;" name="取消" value="取消"  onclick="window.location.href='/admin/page/link_list'">

                </form>
            </div>
                        </div>

            <div id="footer " style="text-align: center;">
                        <p id="p2 " style="margin-left: 0;">
                            <a style="color: #636161;font-size: 0.8em; " target="_blank " title="府谷县公安局交警大队 ">府谷县公安局交警大队版权所有 保留一切权利</a>
                            <a target="_blank "></a>
                        </p>
                     </div>
        </div>
        
        <script type="text/javascript" charset="utf-8"  src="/js/ku/avalon.js"></script>
        <script type="text/javascript" charset="utf-8"  src="/js/houtaifabu.js"></script>
        <script type="text/javascript" charset="utf-8"  src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8"  src="/js/webuploader/webuploader.js"></script>

</body>
    <script type="text/javascript">
    function myTrim(x) {
        return x.replace(/^\s+|\s+$/gm,'');
    }

     function CheckPost ()
	   {  
        link.linkName.value=myTrim(link.linkName.value);
        link.url.value=myTrim(link.url.value);
       
        if (myTrim(link.linkName.value) == "")
          {
              alert("请填写链接名！");
              link.linkName.focus();
              return false;
          }
	    if (myTrim(link.url.value) == "")
          {
              alert("请填写链接！");
              link.url.focus();
              return false;
          }
          
	     return true;
	   }
    </script>

</html>
<%end%>