<%define "adduser"%>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>府谷交警内网后台管理程序</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="府谷交警 内网">
    <link rel="shortcut icon" href="/images/1.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/houtai.css">
    <link rel="stylesheet" type="text/css" href="/js/webuploader/webuploader.css">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="imagetoolbar" content="false">
    <script type="text/javascript" src="/js/ku/DD_belatedPNG.js"></script>
    <script type="text/javascript" src="/js/ku/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/ku/jquery.SuperSlide.2.1.1.js"></script>
   
    <!--[if IE 6]>
<script src="DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.phoneicon');
</script>
<![endif]-->

    <body ms-controller="fugujiaojing" id="homefirst">
        <div id="wrapper">
            <%template "header" .%>
            <div id="maincontent">
            

            </div>
                <div class="idea divclass" id="d1">
                    <%if .Update%>
                    <h2>修改用户</h2>
                    <%else%>
                    <h2>增加用户</h2>
                    <%end%>
                </div>
                <form action="<%if .Update%>/admin/modifyUser<%else%>/admin/addUser<%end%>" method="post" name="user"  onsubmit="return CheckPost();">

                    <%if not .Update%>
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        用&nbsp;户&nbsp;名 <span style="color: red">*</span>
                        <input  style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 15em;" type="text" name="name" value=""> 
                        <%if .NameError%><span style="margin-left: 2em;color: red">用户名重复！</span><%end%>
                    </div> 
                    <%else%>
                        <input type="hidden" name="id" value="<%.Id%>">
                    <%end%>

                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        所属部门<span style="color: red">*</span>
                         <select style="vertical-align: middle; margin-left: 2em;" type="radio" name="dep" >
                                
                            <%if .Update%>
                                <%range $i,$v := .Deps%>
                                    <option value="<%$v.Name%>" <%if eq $v.Name $.Dep%>selected='selected'<%end%>><%$v.Name%></option>
                                <%end%>
                            <%else%>
                                <%range $i,$v := .Deps%>
                                    <option value="<%$v.Name%>" <%if eq $i 0%>selected='selected'<%end%>><%$v.Name%></option>
                                <%end%>
                            <%end%>
                         </select>
                    </div>

                    <div class="idea clearboder" id="d1" style="padding-top: 30px;padding-left:60px">
                        账号权限 &nbsp;
                        <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="role" value="大队" <%if .DD%>checked<%end%> >&emsp;大队
                        <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="role" value="中队" <%if .ZD%>checked<%end%> >&emsp;中队
                        <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="role" value="部门" <%if .BM%>checked<%end%> >&emsp;部门

                    </div>
                    <input style="width:80px;height: 40px;margin-top: 2em;margin-left: 57px;background-color: #fc8114;color: white;margin-bottom: 20px;cursor: pointer;" type="submit" name="提交" value="提交">
                    &emsp;&emsp;
                    <input style="width:80px;height: 40px;margin-top: 2em;margin-left: 57px;background-color: #CCC;color: white;margin-bottom: 20px;cursor: pointer;text-align: center;" name="取消" value="取消"  onclick="window.location.href='/admin/page/user_list'">

                </form>
            </div>
            <div id="footer " style="text-align: center;">
                        <p id="p2 " style="margin-left: 0;margin-top: 200px">
                            <a style="color: #636161;font-size: 0.8em; " target="_blank " title="府谷县公安局交警大队 ">府谷县公安局交警大队版权所有 保留一切权利</a>
                            <a target="_blank "></a>
                        </p>
                     </div>
        </div>
        
        <script type="text/javascript" charset="utf-8"  src="/js/ku/avalon.js"></script>
        <script type="text/javascript" charset="utf-8"  src="/js/houtaifabu.js"></script>
        <script type="text/javascript" charset="utf-8"  src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8"  src="/js/webuploader/webuploader.js"></script>

</body>
    <script type="text/javascript">
    function myTrim(x) {
        return x.replace(/^\s+|\s+$/gm,'');
    }

     function CheckPost ()
	   {  
        if (myTrim(user.name.value) == "")
          {
              alert("请填写用户名！");
              user.name.focus();
              return false;
          }
	      
	     if (myTrim(user.dep.value) == "")
	     {
	          alert("请输入所属部门！");
	          user.dep.focus();
	          return false;
	     }
	     return true;
	   }
    </script>

</html>
<%end%>