<%define "search"%>
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>府谷交警</title>
    <meta name="keywords" content="府谷交警">
    <link rel="shortcut icon" href="/images/1.ico" type="image/x-icon" />
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/label.css">
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/ku/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/config.js"></script>
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/zh-cn.js"></script>
    <script type="text/javascript" src="/js/zh-cn(1).js"></script>

   

    
</head>
<body>
   <div style="BORDER-RIGHT: #e1e1e1 1px solid;
    BORDER-TOP: #e1e1e1 1px solid;
    MARGIN-TOP: 10px;
    BACKGROUND: #fff;
    BORDER-LEFT: #e1e1e1 1px solid;
    BORDER-BOTTOM: #e1e1e1 1px solid;
    HEIGHT: 585px;
    TEXT-ALIGN: center;
    border-radius: 10px;">
   	<img src="/images/notfound.gif" style="">
   	<p>啊~哦~ 您要查看的页面不存在或已删除！</p>
   	<p style="MARGIN-BOTTOM: 30px">请检查您输入的网址是否正确，或者点击链接继续浏览空间</p>
   	<p style="FONT-SIZE: 14px; LINE-HEIGHT: 20px">您可以回到 <a href="/">网站首页</a> </p>
   </div>

</body>
</html>
<%end%>