<%define "footer" %>
   <div id="footer">
    <div class="wp_inner">
        <div class="foot">
            <div class="foot1 fl"><span id="_ideConac"> <a href="#" target="_blank"><img id="imgConac" vspace="0" hspace="0" border="0" src="/images/red.png" data-bd-imgshare-binded="1"></a> </span>
            </div>
            <div class="foot2 fl">
                <div class="footext" style="line-height: 38px;padding-right: 100px"> 主办单位：府谷县公安局交通警察大队<br>
                    地&emsp;&emsp;址：陕西省府谷县河滨东路128号　 联系电话：0912-8718122  <br>推荐使用 <span>火狐浏览器浏览</span> <span>谷歌浏览器</span>  <span>IE8以上浏览器</span>  <a href="http://10.1.6.216/jjwx/ie6.html" style="text-decoration: underline;color: #f1a8a8">下载地址</a>

                </div>
            </div>
            <div class="foot3 fl">
                <div class="qrcode fl"><a href="#" target="_blank" title="" style="text-decoration:none;"><img
                        width="86" height="86" border="none" alt="" src="/images/erweima.jpg"></a></div>
            </div>
            <div class="clear"></div>
           
        </div>
        <div id="footer_login" style="text-align:center;clear:both;font-size:14px;"></div>
    </div>
</div>
    <%end%>