<%define "headerindex" %>
    <div id="header">
            <div class="banner">
                <div id="play_9647">
                    <ul class="clearfix">
                        <li style="display: block; z-index: 10;"><a href=""><img src="/images/navpic - 副本.jpg" width="100%" height="570"></a></li>
                    </ul>
                    <ul class="jsNav" id="jsNav_9647">
                        <li class="over">1</li>
                    </ul>
                </div>
            </div>
            <div class="head_logo wp_inner">
                <div style="font-size: 1.1em;color: white;display: inline-block;float: left;">府谷县公安局交警大队欢迎您！</div>
                <div style="display: inline-block;float: right;color: white;font-size: 1.1em;">
                    <span style="cursor: pointer;">旧版回顾</span>
                    <span>|</span>
                    <span  style="cursor: pointer;">设为首页</span>
                    <span>|</span>
                    <span  style="cursor: pointer;" onclick="window.location.href='/search'">站内搜索</span>
                </div>
                <div style="display: inline-block;clear: both;"></div>
                <div class="logo" style="width: 117px;margin-top: 77px;margin-left: -188px;"><a id="logopic" href="#"><img style="width: 163%;" src="images/guohui.png"></a></div>
                <div class="logo" style="margin-top: 105px;margin-left: 42px; width: 334px;margin-left: -20px"><a id="logopic" href="#"><img style=" width: 178%;" src="images/dongtai.gif"></a></div>
                <div class="head_right">
                    <!--<div class="search_form">-->
                    <!--<form action="search" target="_blank" method="get" name="form1" id="form1">-->
                    <!--<input type="text" value="" class="keyword" id="keyword" name="keyword">-->
                    <!--<input type="submit" class="submitbtn" value="" id="button" name="button">-->
                    <!--</form>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div id="nav">
            <!---->
            <div class="zuo" id="transobjzuo"></div>
            <div class="you" id="transobjyou"></div>
            <div class="nav_menu clearfix">
                <ul id="menu_nav">
                    <li class=""><a href="/" target="" class="nav1 phoneicon" style="text-decoration: none!important;color: white;font-size: 18px">网站首页</a> </li>
                    <li class=""><a href="/summarization" target="" style="text-decoration: none!important;color: white;font-size: 18px" class="nav2 phoneicon">大队概括</a>
                    </li>
                    <li class=""><a href="/list?class=文件简报" target="" style="text-decoration: none!important;color: white;font-size: 18px" class="nav3 phoneicon">文件简报</a>
                    </li>
                    <li class=""><a href="/list?class=党建队建" target="" style="text-decoration: none!important;color: white;font-size: 18px" class="nav4 phoneicon">党建队建</a> </li>
                    <li class=""><a href="/list?class=交管动态" target="" style="text-decoration: none!important;color: white;font-size: 18px" class="nav5 phoneicon">交管动态</a> </li>
                    <li class=""><a href="/list?class=学习园地" target="" style="text-decoration: none!important;color: white;font-size: 18px" class="nav6 phoneicon">学习园地</a>
                    </li>
                    <li class=""><a href="/subjectList?subject=no" style="text-decoration: none!important;color: white;font-size: 18px" target="" class="nav7 phoneicon">专项行动</a> </li>
                </ul>
            </div>
        </div>
    <%end%>