<%define "publish_hongtou"%>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>府谷交警内网后台管理程序</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="府谷交警 内网">
    <link rel="shortcut icon" href="/images/1.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/houtai.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="imagetoolbar" content="false">
    <script type="text/javascript" src="/js/ku/DD_belatedPNG.js"></script>
    <script type="text/javascript" src="/js/ku/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/ku/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if IE 6]>
<script src="DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.phoneicon');
</script>
<![endif]-->

    <body ms-controller="fugujiaojing" id="homefirst">
        <div id="wrapper">
            <%template "header" .%>
            <div id="maincontent">
                <div class="idea divclass" id="d1">
                   <%if .Modify%>
                    <h2>内容修改</h2>
                    <%else%>
                    <h2>内容发布</h2>
                    <%end%>
                </div>

               
                    <%if .Modify%>
                    <form action="/admin/modify" method="post" enctype="multipart/form-data"   onsubmit="return CheckPost();">
                    <input type="hidden" name="id" value="<%call .Hex .Article.Id%>">
                    <input type="hidden" name="category" value="<%.Article.Category%>">
                    <input type="hidden" name="category" value="<%.Article.Header%>">
                    <div class="idea clearboder" id="d1" style="padding-top: 30px;padding-left:60px">
                        所属专题 &nbsp;
                        <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="subject" value="不属于专题稿件" <%if eq .Article.Subject "不属于专题稿件"%>checked='checked'<%end%>>&emsp;不属于专题稿件
                        <%range .Subjects%>
                            <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="subject" value="<%.Name%>" <%if eq $.Article.Subject .Name%>checked='checked'<%end%>>&emsp;<%.Name%>
                        <%end%>
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        是否签收 &nbsp;
                        <input type="checkbox" style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;" name="needSign" <%if .Article.NeedSign%>checked='checked'<%end%> value="true">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        内容标题 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 40em;" type="text" name="title" value="<%.Article.Title%>"> <span style="margin-left: 2em;color: gray">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        拟&emsp;&emsp;稿 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="creator" value="<%.Article.Creator%>">
                    </div>
                    <div class=" idea clearboder " id="d1 " style="padding-top: 10px;padding-left:60px ">
                        审&emsp;&emsp;核 <span style="color: red ">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 10em; " type="text " name="assessor"  value="<%.Article.Assessor%>">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        签&emsp;&emsp;发 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="signature" value="<%.Article.Signature%>">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        发文年号 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="year" value="<%.Article.Year%>">
                    </div>
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        发文序号 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="no" value="<%.Article.No%>">
                    </div>
                    <div class=" idea clearboder " id="d1 " style="padding-top: 10px;padding-left:60px ">
                        内容来源 <span style="color: red ">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 20em; " type="text " name="from"  value="<%.Article.From%>">
                    </div>
                    
                    <div class="idea " id="d3" style="padding:0;border: 1px solid #aaa;border:none; margin-bottom: 10px">
                        <div style="margin: 0 auto">
                            <script id="editor" name="content" type="text/plain" style="width:1024px;height:500px;">
                                <%.Article.Content%>
                            </script>
                        </div>
                        <input style="width:80px;height: 40px;margin-top: 2em;margin-left: 57px;background-color: #fc8114;color: white;margin-bottom: 20px;cursor: pointer;" type="submit" name="预览" value="修改">

                    </div>
                    <%end%>
                    <%if .Create%>
                    <form action="/admin/preview" method="post" enctype="multipart/form-data"   onsubmit="return CheckPost();">
                    <input type="hidden" name="category" value="<%.Category%>">
                    <input type="hidden" name="header" value="<%if .Header%><%.Header%><%else%>hongtou.jpg<%end%>">
                    <div class="idea clearboder" id="d1" style="padding-top: 30px;padding-left:60px">
                        所属专题 &nbsp;
                        <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="subject" value="不属于专题稿件" checked>&emsp;不属于专题稿件
                        <%range .Subjects%>
                            <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="subject" value="<%.Name%>" >&emsp;<%.Name%>
                        <%end%>
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        是否签收 &nbsp;
                        <input type="checkbox" style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;" name="needSign" value="true">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        内容标题 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 40em;" type="text" name="title" > 
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        拟&emsp;&emsp;稿 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="creator" value="">
                    </div>
                    <div class=" idea clearboder " id="d1 " style="padding-top: 10px;padding-left:60px ">
                        审&emsp;&emsp;核 <span style="color: red ">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 10em; " type="text " name="assessor"  value="">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        签&emsp;&emsp;发 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="signature" value="">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        发文年号 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="year" value="">
                    </div>
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        发文序号 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="no" value="">
                    </div>
                    <div class=" idea clearboder " id="d1 " style="padding-top: 10px;padding-left:60px ">
                        内容来源 <span style="color: red ">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 20em; " type="text " name="from"  value="">
                    </div>
                    <div class="idea " id="d3" style="padding:0;border: 1px solid #aaa;border:none; margin-bottom: 10px">
                        <div style="margin: 0 auto">
                            <script id="editor" name="content" type="text/plain" style="width:1024px;height:500px;">
                               
                            </script>
                        </div>
                        <input style="width:80px;height: 40px;margin-top: 2em;margin-left: 57px;background-color: #fc8114;color: white;margin-bottom: 20px;cursor: pointer;" type="submit" name="预览" value="预览">

                    </div>
                    <%end%>
                    <%if .Edit%>
                    <form action="/admin/preview" method="post" enctype="multipart/form-data"   onsubmit="return CheckPost();">
                    <input type="hidden" name="category" value="<%.Article.Category%>">
                    <input type="hidden" name="header" value="<%.Article.Header%>">
                    <div class="idea clearboder" id="d1" style="padding-top: 30px;padding-left:60px">
                        所属专题 &nbsp;
                        <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="subject" value="不属于专题稿件" <%if eq .Article.Subject "不属于专题稿件"%>checked='checked'<%end%>>&emsp;不属于专题稿件
                        <%range .Subjects%>
                            <input style="vertical-align: middle; margin-left: 2em;" type="radio" name="subject" value="<%.Name%>" <%if eq $.Article.Subject .Name%>checked='checked'<%end%>>&emsp;<%.Name%>
                        <%end%>
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        是否签收 &nbsp;
                        <input type="checkbox" style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;" name="needSign" <%if .Article.NeedSign%>checked='checked'<%end%> value="true">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        内容标题 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 40em;" type="text" name="title" value="<%.Article.Title%>"> 
<!--                         <span style="margin-left: 2em;color: gray">还可输入<span style="color:red">40</span>个字符</span>
 -->                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        拟&emsp;&emsp;稿 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="creator" value="<%.Article.Creator%>">
                    </div>
                    <div class=" idea clearboder " id="d1 " style="padding-top: 10px;padding-left:60px ">
                        审&emsp;&emsp;核 <span style="color: red ">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 10em; " type="text " name="assessor"  value="<%.Article.Assessor%>">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        签&emsp;&emsp;发 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="signature" value="<%.Article.Signature%>">
                    </div>
                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        发文年号 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="year" value="<%.Article.Year%>">
                    </div>
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        发文序号 <span style="color: red">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" type="text" name="no" value="<%.Article.No%>">
                    </div>
                    <div class=" idea clearboder " id="d1 " style="padding-top: 10px;padding-left:60px ">
                        内容来源 <span style="color: red ">*</span>
                        <input style="vertical-align: middle; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 20em; " type="text " name="from"  value="<%.Article.From%>">
                    </div>
                    
                    <div class="idea " id="d3" style="padding:0;border: 1px solid #aaa;border:none; margin-bottom: 10px">
                        <div style="margin: 0 auto">
                            <script id="editor" name="content" type="text/plain" style="width:1024px;height:500px;">
                                <%.Article.Content%>
                            </script>
                        </div>
                        <input style="width:80px;height: 40px;margin-top: 2em;margin-left: 57px;background-color: #fc8114;color: white;margin-bottom: 20px;cursor: pointer;" type="submit" name="预览" value="预览">

                    </div>
                    <%end%>
                    <input type="hidden" name="isRed" value="true">
                </form>
            </div>
            
        </div>
        <script type="text/javascript" charset="utf-8" src="/js/ku/ueditor.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="/js/ku/editor_api.js"></script>
    </body>
    <script type="text/javascript">

    UE.getEditor('editor');

    function myTrim(x) {
        return x.replace(/^\s+|\s+$/gm,'');
    }

    function CheckPost ()
       {  
        dep.title.value=myTrim(dep.title.value);
        dep.creator.value=myTrim(dep.creator.value);
        dep.assessor.value=myTrim(dep.assessor.value);
        dep.signature.value=myTrim(dep.signature.value);
        dep.from.value=myTrim(dep.from.value);
        dep.year.value=myTrim(dep.year.value);
        dep.no.value=myTrim(dep.no.value);


          if (myTrim(dep.year.value) == "")
          {
              alert("请填写发文年号！");
              dep.year.focus();
              return false;
          }
          if (myTrim(dep.no.value) == "")
          {
              alert("请填写发文序号！");
              dep.no.focus();
              return false;
          }

        if (myTrim(dep.title.value) == "")
          {
              alert("请填写文章标题！");
              dep.title.focus();
              return false;
          }
        if (myTrim(dep.creator.value) == "")
          {
              alert("请填写拟稿人！");
              dep.creator.focus();
              return false;
          }
           if (myTrim(dep.assessor.value) == "")
          {
              alert("请填写审核人！");
              dep.assessor.focus();
              return false;
          }
           if (myTrim(dep.signature.value).length == "")
          {
              alert("请填写签发人！");
              dep.signature.focus();
              return false;
          }
           if (myTrim(dep.from.value).length == "")
          {
              alert("请填写内容来源！");
              dep.from.focus();
              return false;
          }
         return true;
       }

    </script>

</html>
<%end%>