<%define "admin"%>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>府谷交警内网后台管理程序</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="府谷交警 内网">
    <link rel="stylesheet" type="text/css" href="/css/houtai.css">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="imagetoolbar" content="false">
    <script type="text/javascript" src="/js/ku/DD_belatedPNG.js"></script>
    <script type="text/javascript" src="/js/ku/jquery1.42.min.js">
    </script>
    <script type="text/javascript" src="/js/ku/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if IE 6]>
<script src="DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.phoneicon');
</script>
<![endif]-->

    <body ms-controller="fugujiaojing" id="homefirst">
        <div id="wrapper">
            <%template "header" .%>
            <div id="navfirst">
                <div class="navBar">
                    <ul class="nav clearfix">
                        <li class="m on">
                            <h3><a target="_blank" href="http://www.superslide2.com/">网站首页</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://www.superslide2.com/">如何使用</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://www.superslide2.com/">查看参数</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="/admin/page/publish_hongtou?action=create&category=普通">发布红头</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="/admin/page/directory_list">通讯录列表</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="/admin/page/dep_list">部门列表</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="/admin/page/user_list">用户列表</a></h3>
                        </li>
                    </ul>
                    <ul class="subNav">
                        <li>你好，欢迎来到“大话主席”网站！</li>
                        <li><a href="#">如何使用</a>|<a href="#">如何使用</a>|<a href="#">如何使用</a>|<a href="#">如何使用</a></li>
                        <li><a href="#">查看参数</a>|<a href="#">查看参数</a>|<a href="#">查看参数</a>|<a href="#">查看参数</a></li>
                        <li><a href="#">基础效果</a>|<a href="#">基础效果</a>|<a href="#">基础效果</a>|<a href="#">基础效果</a></li>
                        <li><a href="#">扩展效果</a>|<a href="#">扩展效果</a>|<a href="#">扩展效果</a>|<a href="#">扩展效果</a></li>
                        <li>
                            <!-- 空 -->
                        </li>
                        <li>
                            <!-- 空 -->
                        </li>
                    </ul>
                </div>
            </div>
            <div id="maincontent">
                <div class="idea divclass" id="d1">
                    <h2>内容审核</h2>
                </div>
                <div class="idea divclass" id="d1" style="padding-top: 10px">
                    <div style="display: inline-block;float: left;">
                        <button class="buttonl" onclick="window.location.href='/admin/page/publish?category=交管动态&action=create'">新增</button>
                    </div>
                    <div style="display: inline-block;float: right;">
                        <input id="sousuoname" style="vertical-align: middle; margin-left: 50em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" ms-duplex="@sousuovalue">
                        <button style="height:40px;line-height: 38px;margin-left: 10px;width:80px;background-color: #006CE8;color:white;vertical-align: middle;" ms-on-click="sousuo(@sousuovalue)">搜索</button>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="idea divclass" id="d3" style="padding:0;border: 1px solid #aaa;border-top: none;margin-bottom: 10px">
                    <div class="cleardiv " style="width: 100%;background-color: #E8E7E3!important;border-bottom: 1px solid #E8E7E3;height: 40px;line-height: 40px;font-weight: bold;">
                        <div class="cleardiv" style="width: 10%;float: left;text-align: center;">编号</div>
                        <div class="cleardiv" style="width: 25%;float: left;">标题</div>
                        <div class="cleardiv" style="width: 15%;float: left;color: #E8E7E3!important;"> 操作</div>
                        <div class="cleardiv" style="width: 20%;float: left;">发布时间</div>
                        <div class="cleardiv" style="width: 10%;float: left;">发布人</div>
                        <div class="cleardiv" style="width: 10%;float: left;">所属分类</div>
                        <div class="cleardiv" style="width: 9%;float: left;">状态</div>
                        <div class="cleardiv" style="width: 9%;float: left;">操作</div>

                    </div>
                   
                    <div  ms-for="($index, el) in @arr" class="cleardiv hoverdiv" ms-mouseover="@divmouseover($index)" ms-mouseleave="@divmouseout($index)" style="width: 100%;border-bottom: 1px solid #E8E7E3!important;height: 40px;line-height: 40px">
                        <div class="cleardiv" style="width: 10%;float: left;text-align: center;">{{(@page-1)*@pagemeiye+$index+1}}</div>
                        <div class="cleardiv" style="width: 25%;float: left;">
                            <img style="margin-right: 2px" :visible="el.isHot"  src="/images/tou.jpg"><img style="margin-right: 2px" :visible="el.isTraffic" src="/images/yao.jpg"><img :visible="el.isImage" src="/images/tu.jpg">{{el.title}}</div>
                        <div class="cleardiv" style="width: 15%;float: left;text-align: center;"><span ms-if="!el.ishidden" style="color: white">.</span> <span ms-if="el.ishidden"><a style="color: blue;font-weight:bold;" ms-attr="{href:'/admin/previewById?id='+ el.id}"  :visible="!el.isAuditing&&!el.isRed">审核 &emsp;</a>

                            <a style="color: blue;font-weight:bold;" ms-attr="{href:'/admin/previewHongtouById?id='+ el.id}"  :visible="!el.isAuditing&&el.isRed">审核 &emsp;</a>

                            <a style="color: red;font-weight:bold;" ms-attr="{href:'/admin/previewById?id='+ el.id}"  :visible="el.isAuditing&&!el.isRed">撤销审核 &emsp;</a>

                            <a style="color: red;font-weight:bold;" ms-attr="{href:'/admin/previewHongtouById?id='+ el.id}"  :visible="el.isAuditing&&el.isRed">撤销审核 &emsp;</a>

                            <a style="color: #5cb85c;" ms-attr="{href:'/admin/page/set_article?id='+ el.id}" :visible="el.isAuditing">设定 &emsp;</a> &emsp;<a  style="color: #d9534f" href="#" ms-on-click="del(el.id)">删除 &emsp;</a>  
                            <a :visible="!el.isAuditing&&!el.isRed" style="color: #f0ad4e" ms-attr="{href:'/admin/page/modifyPage?id='+ el.id}" >修改</a>
                            <a :visible="!el.isAuditing&&el.isRed" style="color: #f0ad4e" ms-attr="{href:'/admin/page/modifyHongtouPage?id='+ el.id}" >修改</a>
                            </span></div>
                            <div class="cleardiv" style="width: 20%;float: left;">{{el.time| date("yyyy年MM月dd日 HH:mm:ss")}}</div>
                            <div class="cleardiv" style="width: 10%;float: left;">{{el.from}}</div>
                            <div class="cleardiv" style="width: 10%;float: left;">{{el.category}}</div>
                            <div class="cleardiv" style="width: 9%;float: left;"><span  :visible="!el.isAuditing" style="color: red">未通过</span><span  :visible="el.isAuditing">通过</span></div>
                        </div>
                       

                        <div class="" style="padding: 0;margin:0;width: 100%;border-top:1px solid #E8E7E3;  border-bottom: 1px solid #E8E7E3;height: 40px;line-height: 40px;text-align: right;">
                            共{{@pagenum}}页{{@count}}条&emsp;<a style="margin-left: 1em;margin-right: 1em;color: #3CADED" href="#" ms-on-click="pre(@page)">上一页</a> {{@page}} <a style="margin-left: 1em;margin-right: 1em;color: #3CADED" href="#" ms-on-click="next(@page)">下一页</a>
                            <input style="border: 1px solid #C3C2C1;width: 30px">
                            <a style="margin-left: 1em;margin-right: 1em;color: #3CADED" href="">跳转</a>
                        </div>
                    </div>
                      <div id="footer " style="text-align: center;">
                        <p id="p2 " style="margin-left: 0;margin-top: 200px">
                            <a style="color: #636161;font-size: 0.8em; " target="_blank " title="府谷县公安局交警大队 ">府谷县公安局交警大队版权所有 保留一切权利</a>
                            <a target="_blank "></a>
                        </p>
                     </div>
                </div>
               
            </div>
            <script src="/js/ku/avalon.js "></script>
            <script src="/js/houtai.js "></script>
    </body>
    <script type="text/javascript">
        
      
    </script>
</html>

<%end%>