<%define "rota"%>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>府谷交警内网后台管理程序</title>
    <meta name="description" content="府谷交警 内网">
    <link rel="stylesheet" type="text/css" href="/css/houtai.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/images/1.ico" type="image/x-icon"/>
    <meta http-equiv="imagetoolbar" content="false">
    <script type="text/javascript" src="/js/ku/DD_belatedPNG.js"></script>
    <script type="text/javascript" src="/js/ku/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/ku/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/js/ku/avalon.js "></script>
    <script src="/js/Json2.js "></script>


<!--     <script type="text/javascript" src="/js/ku/date.js"></script>
 --></head>


<!--  <style type="text/css">
            .ms-controller{
               visibility: hidden
            }
        </style> -->
<body  ms-controller="fugujiaojing" class="ms-controller">
<div id="wrapper" >
    <%template "header" .%>
    <div id="maincontent">
        <div class="idea divclass" id="d1">
            <h2>值班表设置</h2>
        </div>

        <div class="idea divclass" id="d3" style="padding:0;border: 1px solid #aaa;border-top: none;margin-bottom: 10px">
            <div style="float: left;height: 4em;line-height: 4em;">

                <input onclick="window.location.href=window.location.href"
                       style="cursor: pointer;text-align: center;width: 6em;margin: 1em;height: 3em;line-height: 2em;color: white;background-color: #fc8114;padding: 4px 6px"
                       value="新增" type="button">


            </div>
            <div style="float: right;height: 4em;line-height: 4em;">
                <input type="text"
                       style=" margin: 1em;margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 15em;"
                       onclick="fPopCalendar(event,this,this)" onfocus="this.select()" ms-duplex="starttime" value="">
                <input type="text"
                       style="margin: 1em; margin-left: 2em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid #aaa;width: 15em;"
                       onclick="fPopCalendar(event,this,this)" onfocus="this.select()" ms-duplex="endtime" value="">
                <input id="search" ms-on-click="chaxun()"
                       style="cursor: pointer;margin: 1em;height: 3em;width: 6em;line-height: 2em;text-align: center;color: white;background-color: #006CE8;padding: 4px 6px"
                       type="button" value="查询">
                <input ms-on-click="save()"
                       style="cursor: pointer;text-align: center;width: 6em;margin: 1em;height: 3em;line-height: 2em;color: white;background-color: #fc8114;padding: 4px 6px"
                       value="保存修改" type="button">

            </div>

            <div style="clear: both;">

            </div>
            <br>
            <div>
                <input ms-for="($index, el) in @dayarr" id="search" ms-on-click="daychaxun(@el)"
                       style="margin: 1em;height: 3em;width: 6em;line-height: 2em;text-align: center;color: white;background-color: #006CE8;padding: 4px 6px"
                       type="button" ms-duplex="@el">

            </div>


            <div style="clear: both;"></div>
            <div style="text-align: center;"> 
                 <table id="zhibanbiao" style="width: 80%;margin: 0 auto">
                <tr>
                    <td colspan="9"
                        style=" background-color: #ececec;padding-bottom: 0.7em;padding-top: 0.7em;font-size: 20px;font-weight: bold;line-height: 1.3em;">
                        {{time11}}值班表
                    </td>


                </tr>
                <tr ms-for="($index, el) in @arr">
                    <td><input class="editTd" style="background-color: white" type="text" name="zuzhang"
                               ms-duplex="@el.name" value=""></td>
                    <td><input class="editTd" type="text" name="zuzhang" ms-duplex="@el.staff[0]|parseSymbol" value="">
                    </td>
                    <td><input class="editTd" type="text" name="zuzhang" ms-duplex="@el.staff[1]|parseSymbol" value="">
                    </td>
                    <td><input class="editTd" type="text" name="zuzhang" ms-duplex="@el.staff[2]|parseSymbol" value="">
                    </td>
                    <td><input class="editTd" type="text" name="zuzhang" ms-duplex="@el.staff[3]|parseSymbol" value="">
                    </td>
                    <td><input class="editTd" type="text" name="zuzhang" ms-duplex="@el.staff[4]|parseSymbol" value="">
                    </td>
                    <td><input class="editTd" type="text" name="zuzhang" ms-duplex="@el.staff[5]|parseSymbol" value="">
                    </td>
                    <td><input class="editTd" type="text" name="zuzhang" ms-duplex="@el.staff[6]|parseSymbol" value="">
                    </td>
                    <td><input type="button" style="background-color: white;color: red;cursor: pointer;" type="text"
                               name="zuzhang" ms-on-click="removestaff($index)" value="去除"></td>

                </tr>
                <tr>
                    <td colspan="9">
                        <button ms-on-click="addstaff()"
                                style="cursor: pointer;height: 3em;width:100%;line-height: 2em;padding-left: 0.5em;padding-right: 0.5em;color: white;background-color: #006CE8;padding: 4px 6px">
                            增加行
                        </button>
                    </td>

                </tr>

            </table>
            </div>
           

        </div>

        <div id="footer " style="text-align: center;">
            <p id="p2 " style="margin-left: 0;margin-top: 200px">
                <a style="color: #636161;font-size: 0.8em; " target="_blank " title="府谷县公安局交警大队 ">府谷县公安局交警大队版权所有
                    保留一切权利</a>
                <a target="_blank "></a>
            </p>
        </div>
    </div>

</div>
<style type="text/css">
    #zhibanbiao {
        border: 1px solid #eeeeee;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        color: #333333;
        font-size: 15px;
    }

    #zhibanbiao td {
        border: 1px solid #eeeeee !important;
        padding: 0.2em;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 3em;
        line-height: 3em;
    }

    .editTd {
        background-color: #d6ffe2;
        color: black;
        cursor: pointer;
        width: 100%;
        height: 100%;
        padding: 0px 6px;
        text-align: center;
    }

    #calendardiv {
        border: 1px solid #cfcfcf !important;
    }
</style>

<script type="text/javascript">
    var gMonths = new Array("一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月");
    var WeekDay = new Array("日", "一", "二", "三", "四", "五", "六");
    var strToday = "今天";
    var strYear = "年";
    var strMonth = "月";
    var strDay = "日";
    var splitChar = "-";
    var startYear = 2000;
    var endYear = 2050;
    var dayTdHeight = 12;
    var dayTdTextSize = 12;
    var gcNotCurMonth = "#E0E0E0";
    var gcRestDay = "#FF0000";
    var gcWorkDay = "#444444";
    var gcMouseOver = "#79D0FF";
    var gcMouseOut = "#F4F4F4";
    var gcToday = "#444444";
    var gcTodayMouseOver = "#6699FF";
    var gcTodayMouseOut = "#79D0FF";
    var gdCtrl = new Object();
    var goSelectTag = new Array();
    var gdCurDate = new Date();
    var giYear = gdCurDate.getFullYear();
    var giMonth = gdCurDate.getMonth() + 1;
    var giDay = gdCurDate.getDate();

    function dd() {
        var elements = new Array();
        for (var i = 0; i < arguments.length; i++) {
            var element = arguments[i];
            if (typeof(arguments[i]) == 'string') {
                element = document.getElementById(arguments[i]);
            }
            if (arguments.length == 1) {
                return element;
            }
            elements.Push(element);
        }
        return elements;
    }

    Array.prototype.Push = function () {
        var startLength = this.length;
        for (var i = 0; i < arguments.length; i++) {
            this[startLength + i] = arguments[i];
        }
        return this.length;
    }
    String.prototype.HexToDec = function () {
        return parseInt(this, 16);
    }
    String.prototype.cleanBlank = function () {
        return this.isEmpty() ? "" : this.replace(/\s/g, "");
    }

    function checkColor() {
        var color_tmp = (arguments[0] + "").replace(/\s/g, "").toUpperCase();
        var model_tmp1 = arguments[1].toUpperCase();
        var model_tmp2 = "rgb(" + arguments[1].substring(1, 3).HexToDec() + "," + arguments[1].substring(1, 3).HexToDec() + "," + arguments[1].substring(5).HexToDec() + ")";
        model_tmp2 = model_tmp2.toUpperCase();
        if (color_tmp == model_tmp1 || color_tmp == model_tmp2) {
            return true;
        }
        return false;
    }

    function ddV() {
        return dd(arguments[0]).value;
    }

    function fPopCalendar(evt, popCtrl, dateCtrl) {
        evt.cancelBubble = true;
        gdCtrl = dateCtrl;
        fSetYearMon(giYear, giMonth);
        var point = fGetXY(popCtrl);
        with (dd("calendardiv").style) {
            left = point.x + "px";
            top = (point.y + popCtrl.offsetHeight + 1) + "px";
            visibility = 'visible';
            zindex = '99';
            position = 'absolute';
        }
        dd("calendardiv").focus();
    }

    function fSetDate(iYear, iMonth, iDay) {
        var iMonthNew = new String(iMonth);
        var iDayNew = new String(iDay);
        if (iMonthNew.length < 2) {
            iMonthNew = "0" + iMonthNew;
        }
        if (iDayNew.length < 2) {
            iDayNew = "0" + iDayNew;
        }
        gdCtrl.value = iYear + splitChar + iMonthNew + splitChar + iDayNew;
        fHideCalendar();
    }

    function fHideCalendar() {
        dd("calendardiv").style.visibility = "hidden";
        for (var i = 0; i < goSelectTag.length; i++) {
            goSelectTag[i].style.visibility = "visible";
        }
        goSelectTag.length = 0;
    }

    function fSetSelected() {
        var iOffset = 0;
        var iYear = parseInt(dd("tbSelYear").value);
        var iMonth = parseInt(dd("tbSelMonth").value);
        var aCell = dd("cellText" + arguments[0]);
        aCell.bgColor = gcMouseOut;
        with (aCell) {
            var iDay = parseInt(innerHTML);
            if (checkColor(style.color, gcNotCurMonth)) {
                iOffset = (innerHTML > 10) ? -1 : 1;
            }
            iMonth += iOffset;
            if (iMonth < 1) {
                iYear--;
                iMonth = 12;
            } else if (iMonth > 12) {
                iYear++;
                iMonth = 1;
            }
        }
        fSetDate(iYear, iMonth, iDay);
    }

    function Point(iX, iY) {
        this.x = iX;
        this.y = iY;
    }

    function fBuildCal(iYear, iMonth) {
        var aMonth = new Array();
        for (var i = 1; i < 7; i++) {
            aMonth[i] = new Array(i);
        }
        var dCalDate = new Date(iYear, iMonth - 1, 1);
        var iDayOfFirst = dCalDate.getDay();
        var iDaysInMonth = new Date(iYear, iMonth, 0).getDate();
        var iOffsetLast = new Date(iYear, iMonth - 1, 0).getDate() - iDayOfFirst + 1;
        var iDate = 1;
        var iNext = 1;
        for (var d = 0; d < 7; d++) {
            aMonth[1][d] = (d < iDayOfFirst) ? (iOffsetLast + d) * (-1) : iDate++;
        }
        for (var w = 2; w < 7; w++) {
            for (var d = 0; d < 7; d++) {
                aMonth[w][d] = (iDate <= iDaysInMonth) ? iDate++ : (iNext++) * (-1);
            }
        }
        return aMonth;
    }

    function fDrawCal(iYear, iMonth, iCellHeight, iDateTextSize) {
        var colorTD = " bgcolor='" + gcMouseOut + "' bordercolor='" + gcMouseOut + "'";
        var styleTD = " valign='middle' align='center' style='height:" + iCellHeight + "px;font-weight:bolder;font-size:" + iDateTextSize + "px;";
        var dateCal = "";
        dateCal += "<tr>";
        for (var i = 0; i < 7; i++) {
            dateCal += "<td" + colorTD + styleTD + "color:#990099'>" + WeekDay[i] + "</td>";
        }
        dateCal += "</tr>";
        for (var w = 1; w < 7; w++) {
            dateCal += "<tr>";
            for (var d = 0; d < 7; d++) {
                var tmpid = w + "" + d;
                dateCal += "<td" + styleTD + "cursor:pointer;' onclick='fSetSelected(" + tmpid + ")'>";
                dateCal += "<span id='cellText" + tmpid + "'></span>";
                dateCal += "</td>";
            }
            dateCal += "</tr>";
        }
        return dateCal;
    }

    function fUpdateCal(iYear, iMonth) {
        var myMonth = fBuildCal(iYear, iMonth);
        var i = 0;
        for (var w = 1; w < 7; w++) {
            for (var d = 0; d < 7; d++) {
                with (dd("cellText" + w + "" + d)) {
                    parentNode.bgColor = gcMouseOut;
                    parentNode.borderColor = gcMouseOut;
                    parentNode.onmouseover = function () {
                        this.bgColor = gcMouseOver;
                    };
                    parentNode.onmouseout = function () {
                        this.bgColor = gcMouseOut;
                    };
                    if (myMonth[w][d] < 0) {
                        style.color = gcNotCurMonth;
                        innerHTML = Math.abs(myMonth[w][d]);
                    } else {
                        style.color = ((d == 0) || (d == 6)) ? gcRestDay : gcWorkDay;
                        innerHTML = myMonth[w][d];
                        if (iYear == giYear && iMonth == giMonth && myMonth[w][d] == giDay) {
                            style.color = gcToday;
                            parentNode.bgColor = gcTodayMouseOut;
                            parentNode.onmouseover = function () {
                                this.bgColor = gcTodayMouseOver;
                            };
                            parentNode.onmouseout = function () {
                                this.bgColor = gcTodayMouseOut;
                            };
                        }
                    }
                }
            }
        }
    }

    function fSetYearMon(iYear, iMon) {
        dd("tbSelMonth").options[iMon - 1].selected = true;
        for (var i = 0; i < dd("tbSelYear").length; i++) {
            if (dd("tbSelYear").options[i].value == iYear) {
                dd("tbSelYear").options[i].selected = true;
            }
        }
        fUpdateCal(iYear, iMon);
    }

    function fPrevMonth() {
        var iMon = dd("tbSelMonth").value;
        var iYear = dd("tbSelYear").value;
        if (--iMon < 1) {
            iMon = 12;
            iYear--;
        }
        fSetYearMon(iYear, iMon);
    }

    function fNextMonth() {
        var iMon = dd("tbSelMonth").value;
        var iYear = dd("tbSelYear").value;
        if (++iMon > 12) {
            iMon = 1;
            iYear++;
        }
        fSetYearMon(iYear, iMon);
    }

    function fGetXY(aTag) {
        var oTmp = aTag;
        var pt = new Point(0, 0);
        do {
            pt.x += oTmp.offsetLeft;
            pt.y += oTmp.offsetTop;
            oTmp = oTmp.offsetParent;
        } while (oTmp.tagName.toUpperCase() != "BODY");
        return pt;
    }

    function getDateDiv() {
        var noSelectForIE = "";
        var noSelectForFireFox = "";
        if (document.all) {
            noSelectForIE = "onselectstart='return false;'";
        } else {
            noSelectForFireFox = "-moz-user-select:none;";
        }
        var dateDiv = "";
        dateDiv += "<div id='calendardiv' onclick='event.cancelBubble=true' " + noSelectForIE + " style='" + noSelectForFireFox + "position:absolute;z-index:99;visibility:hidden;border:1px solid #999999;'>";
        dateDiv += "<table border='0' bgcolor='#E0E0E0' cellpadding='1' cellspacing='1' >";
        dateDiv += "<tr>";
        dateDiv += "<td><input type='button' id='PrevMonth' value='<' style='height:20px;width:20px;font-weight:bolder;' onclick='fPrevMonth()'>";
        dateDiv += "</td><td><select id='tbSelYear' style='border:1px solid;' onchange='fUpdateCal(ddV(\"tbSelYear\"),ddV(\"tbSelMonth\"))'>";
        for (var i = startYear; i < endYear; i++) {
            dateDiv += "<option value='" + i + "'>" + i + strYear + "</option>";
        }
        dateDiv += "</select></td><td>";
        dateDiv += "<select id='tbSelMonth' style='border:1px solid;' onchange='fUpdateCal(ddV(\"tbSelYear\"),ddV(\"tbSelMonth\"))'>";
        for (var i = 0; i < 12; i++) {
            dateDiv += "<option value='" + (i + 1) + "'>" + gMonths[i] + "</option>";
        }
        dateDiv += "</select></td><td>";
        dateDiv += "<input type='button' id='NextMonth' value='>' style='height:20px;width:20px;font-weight:bolder;' onclick='fNextMonth()'>";
        dateDiv += "</td>";
        dateDiv += "</tr><tr>";
        dateDiv += "<td align='center' colspan='4'>";
        dateDiv += "<div style='background-color:#cccccc'><table width='100%' border='0' cellpadding='3' cellspacing='1'>";
        dateDiv += fDrawCal(giYear, giMonth, dayTdHeight, dayTdTextSize);
        dateDiv += "</table></div>";
        dateDiv += "</td>";
        dateDiv += "</tr><tr><td align='center' colspan='4' nowrap>";
        dateDiv += "<span style='cursor:pointer;font-weight:bolder;' onclick='fSetDate(giYear,giMonth,giDay)' onmouseover='this.style.color=\"" + gcMouseOver + "\"' onmouseout='this.style.color=\"#000000\"'>" + strToday + ":" + giYear + strYear + giMonth + strMonth + giDay + strDay + "</span>";
        dateDiv += "</tr></tr>";
        dateDiv += "</table></div>";
        return dateDiv;
    }

    with (document) {
        onclick = fHideCalendar;
        write(getDateDiv());
    }
</script>
<script type="text/javascript">


    function myTrim(x) {
        return x.replace(/^\s+|\s+$/gm, '');
    }


        avalon.filters.parseSymbol = function (str) {
            if (!str) {
                return ""
            } else {
                return str
            }
        };
        var vm = avalon.define({
            $id: "fugujiaojing",
            name: "mike",
            isbox: false,
            arr: [],
            time11: [],
            dayarr: [],
            count: 0,
            pagenum: 0,
            page: 1,
            pagemeiye: 15,
            aaa: "",
            sousuovalue: "",
            starttime: "",
            endtime: "",
            addstaff: function () {
                vm.arr.push({name: "", staff: ["", "", "", "", ""]});
            },
            save: function () {
                var starttime = vm.starttime;
                var endtime = vm.endtime;

                if (!starttime || !endtime) {
                    alert("必须输入开始时间和结束时间");
                    return;
                }
                if (vm.arr.length == 0) {
                    alert("不能提交空数据！");

                    return;
                }
                vm.arr.forEach(function (item) {

                    for (var i = item.staff.length - 1; i >= 0; i--) {
                        item.staff[i] = myTrim(item.staff[i])
                        if (!item.staff[i]) {
                            item.staff.splice(i, 1)
                        }
                    }

                });
                for (var i = vm.arr.length - 1; i >= 0; i--) {
                    if (!vm.arr[i].name) {
                        vm.arr.splice(i, 1)
                    }
                }

                $.ajax({
                    url: "/admin/addRotas?starttime=" + starttime + "&endtime=" + endtime,    //请求的url地址
                    dataType: "json",
                    contentType: 'application/json;charset=utf-8',
                    data: JSON.stringify({duty: vm.arr}),  //返回格式为json
                    type: "POST",   //请求方式
                    beforeSend: function () {

                    },
                    success: function (data, status) {
                        alert("保存成功")
                    },
                    complete: function () {
                        //请求完成的处理
                    },
                    error: function () {
                        alert("网络错误")
                        //请求出错处理
                    }
                });
            },
            removestaff: function (index) {
                vm.arr.splice(index, 1)
            },
            daychaxun: function (time) {
                var date = new Date(Date.parse(time.replace(/-/g,"/")));
                var year = date.getFullYear();
                var month = (date.getMonth() + 1) >= 10 ? (date.getMonth() + 1) : '0' + (date.getMonth() + 1);
                var day = date.getDate() >= 10 ? date.getDate() : '0' + date.getDate();

                vm.time11 = year + "-" + month + "-" + day;
                vm.starttime = year + "-" + month + "-" + day;
                vm.endtime = year + "-" + month + "-" + day;
                $.ajax({
                    url: "/admin/getRotas?starttime=" + vm.starttime + "&endtime=" + vm.starttime,    //请求的url地址
                    dataType: "json",
                    xhrFields: {
                        withCredentials: true
                    },
                    async: true,//请求是否异步，默认为异步，这也是ajax重要特性
                    type: "GET",   //请求方式
                    beforeSend: function () {
                    },
                    success: function (data, status) {
                        if (data[0]) {
                            vm.arr = data[0].duty;
                        } else {
                            vm.arr = [];
                        }
                    },
                    complete: function () {
                        //请求完成的处理
                    },
                    error: function () {
                        alert("网络错误")
                        //请求出错处理
                    }
                });

            },
            chaxun: function () {
                var starttime1;
                var endtime1;
                if (!vm.starttime || !vm.endtime) {
                    alert("必须输入开始时间和结束时间");
                    return;
                }
                var newDate = function (o) {
                    if (arguments.length === 1 && VF.lang.isString(o)) {
                        o = VF.browser.ie ? o.replace(/\D/g, ',') : '"' + o + '"';
                    }
                    if (arguments.length > 1) {
                        var t = [];
                        
                        o = t.join(',');
                    }
                    return eval('new Date(' + (o || '') + ')');
                };

                function formatTime(time, spliter) {
                    spliter = '-'
                    var date = new Date(time);
                    var year = date.getFullYear();
                    var month = (date.getMonth() + 1) >= 10 ? (date.getMonth() + 1) : '0' + (date.getMonth() + 1);
                    var day = date.getDate() >= 10 ? date.getDate() : '0' + date.getDate();
                    return year + "/" + month + "/" + day
                }
                vm.dayarr = [];

                starttime1 = new Date(Date.parse(vm.starttime.replace(/-/g,"/"))).getTime();
                endtime1 = new Date(Date.parse(vm.endtime.replace(/-/g,"/"))).getTime();



                for (var i = starttime1; i <= endtime1;) {

                    vm.dayarr.push(formatTime(i, ''));
                    i += 24 * 60 * 60 * 1000;
                }

            }

        });


</script>


</body>
</html>
<%end%>