<%define "notice"%>
<html>
<title>府谷公安交警</title>
<body style="background-color: #0134c1;text-align: center;color: white;padding-top: 2em;width: 97%;padding-left: 1%;padding-right: 2%;">
	<h1><%.Title%></h1>
	<h4 style="text-align: left;text-indent: 2em;line-height: 1.4em;"><%.Content%></h4>
	<div style="width: 10em;float: right;">
	 <h4 style="width: 10em;margin-top: 2em;text-align:  center;width: 96%;"><%.Dep%></h4>
	 <h4 style="width: 10em;text-align:  center;width: 100%;margin-top: 0;"><%Format .Time "2006年01月02日" %></h4>
	</div>
	

</body>

</html>
<%end%>