<%define "setarticle"%>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>府谷交警内网后台管理程序</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="府谷交警 内网">
    <link rel="shortcut icon" href="/images/1.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/houtai.css">
    <link rel="stylesheet" type="text/css" href="/js/webuploader/webuploader.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="imagetoolbar" content="false">
    <script type="text/javascript" src="/js/ku/DD_belatedPNG.js"></script>
    <script type="text/javascript" src="/js/ku/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/ku/jquery.SuperSlide.2.1.1.js"></script>
   

    <body ms-controller="fugujiaojing" id="homefirst">
       <div id="wrapper">
             <%template "header" .%>


         <div id="maincontent">
            

                <div class="idea divclass" id="d1">
                    <h2>设定</h2>
                   
                </div>
                <form action="/admin/setArticle" method="post" name="setarticle"  onsubmit="return CheckPost();">

                    <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        头条新闻<span style="color: white">*</span>
                         <input style="vertical-align: middle; margin-left: 2em;" type="checkbox" name="isHot"  value="true" <%if .Article.IsHot%>checked='checked'<%end%>>
                    </div>
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        交管要闻<span style="color: white">*</span>
                         <input style="vertical-align: middle; margin-left: 2em;" type="checkbox" name="isTraffic" value="true" <%if .Article.IsTraffic%>checked='checked'<%end%>>
                    </div> 

                    <%if .Article.IsTraffic%>
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        是否置顶<span style="color: white">*</span>
                         <input style="vertical-align: middle; margin-left: 2em;" type="checkbox" name="isTop" value="true" <%if .Article.IsTop%>checked='checked'<%end%>>
                    </div>
                    
                    <%else%>
                      <%if eq .Article.Category "领导讲话"%>
                      <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                          是否置顶<span style="color: white">*</span>
                           <input style="vertical-align: middle; margin-left: 2em;" type="checkbox" name="isTop" value="true" <%if .Article.IsTop%>checked='checked'<%end%>>
                      </div>
                      <%end%>
                    <%end%> 


                    <%if .Article.Pic%>
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        图片新闻<span style="color: white">*</span>
                         <input style="vertical-align: middle; margin-left: 2em;" type="checkbox" name="isImage" value="true" <%if .Article.IsImage%>checked='checked'<%end%>>
                    </div>
                    <%end%>
                     <div class="idea clearboder" id="d1" style="padding-top: 10px;padding-left:60px">
                        移动文章<span style="color: white">*</span>
                         <select style="vertical-align: middle; margin-left: 2em;" type="radio" name="category" >


                            <%range .Clazz%>
                              <%range .%>
                                <option value="<%.%>" <%if eq $.Article.Category .%>selected='selected'<%end%>><%.%></option>
                              <%end%>
                            <%end%>  

                            

                         </select>
                    </div>    
                    
                    <input type="hidden" name="id" value="<%call .Hex .Article.Id%>">
                    <input type="hidden" name="isRed" value="<%.Article.IsRed%>">
                   
                   
                    <input style="width:80px;height: 40px;margin-top: 2em;margin-left: 57px;background-color: #fc8114;color: white;margin-bottom: 20px;cursor: pointer;" type="submit" name="提交" value="提交">
                    &emsp;&emsp;
                    <input style="width:80px;height: 40px;line-height: 40px;margin-top: 2em;margin-left: 57px;background-color: #CCC;color: white;margin-bottom: 20px;cursor: pointer;text-align: center;" type="button" name="取消" value="取消"  onclick="window.location.href='/admin/page/dadui_admin?isRed=<%.Article.IsRed%>'">

                </form>
         </div>
         <br>

     </div>
      


</body>
    <script type="text/javascript">
    function myTrim(x) {
        return x.replace(/^\s+|\s+$/gm,'');
    }

     function CheckPost ()
	   {  
        dep.directoryName.value=myTrim(dep.directoryName.value);
        dep.dep.value=myTrim(dep.dep.value);
        dep.phone.value=myTrim(dep.phone.value);
        dep.job.value=myTrim(dep.job.value);
        dep.tel.value=myTrim(dep.tel.value);

        if (myTrim(dep.directoryName.value) == "")
          {
              alert("请填写姓名！");
              dep.directoryName.focus();
              return false;
          }
	    if (myTrim(dep.dep.value) == "")
          {
              alert("请选择部门！");
              return false;
          }
           if (myTrim(dep.phone.value) == "")
          {
              alert("请填写手机号！");
              dep.phone.focus();
              return false;
          }
           if (myTrim(dep.phone.value).length !=11)
          {
              alert("请填写正确的手机位数！");
              dep.phone.focus();
              return false;
          }
	     return true;
	   }
    </script>

</html>
<%end%>