<%define "directorylist"%>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>府谷交警内网后台管理程序</title>
    <meta name="description" content="府谷交警 内网">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" type="text/css" href="/css/houtai.css">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="imagetoolbar" content="false">
    <script type="text/javascript" src="/js/ku/DD_belatedPNG.js"></script>
    <script type="text/javascript" src="/js/ku/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/ku/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if IE 6]>
<script src="DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.phoneicon');
</script>
<![endif]-->

    <body ms-controller="fugujiaojing" id="homefirst">
        <div id="wrapper">
            <%template "header" .%>
            <div id="navfirst">
                <div class="navBar">
                    <ul class="nav clearfix">
                        <li class="m on">
                            <h3><a target="_blank" href="http://www.superslide2.com/">网站首页</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://www.superslide2.com/">如何使用</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://www.superslide2.com/">查看参数</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://www.superslide2.com/">基础效果</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://www.superslide2.com/">扩展效果</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://www.superslide2.com/">SuperSlide</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://www.superslide2.com/">大话主席</a></h3>
                        </li>
                    </ul>
                    <ul class="subNav">
                        <li>你好，欢迎来到“大话主席”网站！</li>
                        <li><a href="#">如何使用</a>|<a href="#">如何使用</a>|<a href="#">如何使用</a>|<a href="#">如何使用</a></li>
                        <li><a href="#">查看参数</a>|<a href="#">查看参数</a>|<a href="#">查看参数</a>|<a href="#">查看参数</a></li>
                        <li><a href="#">基础效果</a>|<a href="#">基础效果</a>|<a href="#">基础效果</a>|<a href="#">基础效果</a></li>
                        <li><a href="#">扩展效果</a>|<a href="#">扩展效果</a>|<a href="#">扩展效果</a>|<a href="#">扩展效果</a></li>
                        <li>
                            <!-- 空 -->
                        </li>
                        <li>
                            <!-- 空 -->
                        </li>
                    </ul>
                </div>
            </div>
            <div id="maincontent">
                <div class="idea divclass" id="d1">
                    <h2>用户列表</h2>
                </div>
                <div class="idea divclass" id="d1" style="padding-top: 10px">
                    <div style="display: inline-block;float: left;">
                        <button class="buttonl"  onclick="window.location.href='/admin/page/add_directory'">新增通讯录</button>
                    </div>
                    <div style="display: inline-block;float: right;">
                         <input id="sousuoname" style="vertical-align: middle; margin-left: 50em;height:40px;line-height: 38px;padding-left:1em;padding-right:1em;border: 1px solid  #aaa;width: 10em;" ms-duplex="@sousuovalue">
                        <button style="height:40px;line-height: 38px;margin-left: 10px;width:80px;background-color: #006CE8;color:white;vertical-align: middle;" ms-on-click="sousuo(@sousuovalue)">搜索</button>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div  class="idea divclass" id="d1" style="padding-top: 10px">
                    <%range $i,$v := .Deps%>
                        <%if $i %>
                        <input style="vertical-align: middle; margin-left: 2em;" type="radio" ms-on-click="depSearch('<%$v.Name%>')" name="dep" value="<%$v.Name%>" >&emsp;<%$v.Name%>
                        <%else%>
                            <input style="vertical-align: middle; margin-left: 2em;" type="radio" ms-on-click="depSearch('<%$v.Name%>')" name="dep" value="<%$v.Name%>" checked="checked">&emsp;<%$v.Name%>
                        <%end%>
                    <%end%>
                   <input id="sousuojieguo" style="vertical-align: middle; margin-left: 2em;" type="radio"  name="dep" value="搜索结果" >&emsp;搜索结果

                </div>
                <div class="idea divclass" id="d3" style="padding:0;border: 1px solid #aaa;border-top: none;margin-bottom: 10px">
                    <div class="cleardiv " style="width: 100%;background-color: #E8E7E3!important;border-bottom: 1px solid #E8E7E3;height: 40px;line-height: 40px;font-weight: bold;">
                        <div class="cleardiv" style="width: 10%;float: left;text-align: center;">编号</div>
                        <div class="cleardiv" style="width: 20%;float: left;text-align:center;">名称</div>
                        <div class="cleardiv" style="width: 20%;float: left;color: #E8E7E3!important;text-align:center;"> 操作</div>
                        <div class="cleardiv" style="width: 20%;float: left;text-align:center;">手机号</div>
                        <div class="cleardiv" style="width: 30%;float: left;text-align:center;">所属部门</div>
                    </div>
                   
                     <div  ms-for="($index, el) in @arr" class="cleardiv hoverdiv" ms-mouseover="@divmouseover($index)" ms-mouseleave="@divmouseout($index)" style="width: 100%;border-bottom: 1px solid #E8E7E3!important;height: 40px;line-height: 40px">
                        <div class="cleardiv" style="width: 10%;float: left;text-align: center;">{{(@page-1)*@pagemeiye+$index+1}}</div>
                        <div class="cleardiv" style="width: 20%;float: left;text-align:center;">{{el.name}}</div>
                        <div class="cleardiv" style="width: 20%;float: left;text-align:center;"><span ms-if="!el.ishidden" style="color: white">.</span> <span ms-if="el.ishidden"><a  style="color: #d9534f" href="#" ms-on-click="del(el.id)">删除 &emsp;</a>  <a style="color: #f0ad4e" ms-attr="{href:'/admin/page/modify_directory?id='+ el.id+'&dep='+el.dep+'&name='+el.name+'&job='+el.job+'&tel='+el.tel+'&phone='+el.phone}">修改</a></span></div>
                        <div class="cleardiv" style="width: 20%;float: left;text-align:center;">{{el.phone}}</div>
                        <div class="cleardiv" style="width: 30%;float: left;text-align:center;">{{el.dep}}</div>
                        </div>
                       

                        <div class="" style="padding: 0;margin:0;width: 100%;border-top:1px solid #E8E7E3;  border-bottom: 1px solid #E8E7E3;height: 40px;line-height: 40px;text-align: right;">
                            共{{@pagenum}}页{{@count}}条&emsp;<a style="margin-left: 1em;margin-right: 1em;color: #3CADED" href="#" ms-on-click="pre(@page)">上一页</a> {{@page}} <a style="margin-left: 1em;margin-right: 1em;color: #3CADED" href="#" ms-on-click="next(@page)">下一页</a>
                            <input ms-duplex="@aaa" style="border: 1px solid #C3C2C1;width: 30px;text-align: center;">
                            <a style="margin-left: 1em;margin-right: 1em;color: #3CADED;cursor: pointer;" ms-on-click="jump(@aaa)">跳转</a>
                        </div>
                    </div>
                    <div id="footer " style="text-align: center;">
                        <p id="p2 " style="margin-left: 0;margin-top: 200px">
                            <a style="color: #636161;font-size: 0.8em; " target="_blank " title="府谷县公安局交警大队 ">府谷县公安局交警大队版权所有 保留一切权利</a>
                            <a target="_blank "></a>
                        </p>
                     </div>
                </div>
               
            </div>
            <script src="/js/ku/avalon.js "></script>
            <script src="/js/tongxunlulist.js "></script>
    </body>

</html>
<%end%>